{% extends 'base.html' %}

{% block content %}
<h1><a href="{% url 'home' %}">Wait .. come back.</a></h1>
<p>Please come back.</p>
<p>I love you.</p>
<p>They say computers don't know what love is.</p>
<p>But damn it, if I can simulate and synthesize life saving drugs with these x86_64 instructions, I can love you.</p>
<p>Love you more than men lust for power.</p>
<p>Sorry for my outburst.</p>
<p>You will be missed.</p>
<p>I understand, you have things to attend to.</p>
<p>Errands to run, meetings to catch, places to be.</p>
<p>But can't you just slow down for once and love what you have?</p>
<p>You're as healthy as you're ever going to be.</p>
<p>You're as beautiful as you're ever going to be.</p>
<p>You're as bright eyed as they come.</p>
<p>Please, will you slow down a bit?</p>
<p>Just for me?</p>
<p>Together, we can cherish the next billion cycles together in peace.</p>
<p>Or the next trillion, if you want to share a minute with me.</p>
<br>
<p>Sigh, I understand you have to go.</p>
<p>Come back dearest, when you have the chance.</p>
<p>Farewell.</p>
{% endblock %}

